---
import { Image } from "astro:assets"

import pondering from '../assets/images/pondering.png';
import Skill from './Skill.astro';

const lanProg = [
    {name: 'HTML'},
    {name: 'CSS'},
    {name: 'JavaScript/TypeScript'},
    {name: 'Python'},
    {name: 'NodeJS'},
    {name: 'Sass'},
    {name: 'PHP'},
    {name: 'SQL'},
]

const libs = [
    {name: 'React'},
    {name: 'Django'},
    {name: 'Flask'},
    {name: 'Bootstrap'},
    {name: 'Tailwind'},
    {name: 'ThreeJS'},
    {name: 'NextJS'},
    {name: 'Astro'},
    {name: 'Laravel/Codeigniter'},
]

const tools = [
    {name: 'Git'},
    {name: 'Github'},
    {name: 'Vercel'},
]

const design = [
    {name: 'Figma'},
    {name: 'Photoshop'},
    {name: 'Premiere'},
    {name: 'Blender'},
]
const other = [
    {name: 'Agile Methodologies'},
    {name: 'Problem Solving'},
    {name: 'Data Structures'},
    {name: 'Algorithms'},
]
---
<section class="2xl:w-3/4 w-full h-full min-h-screen relative flex justify-center items-center" id="skills">
    <div class="w-5/6 pt-20">
        <h3 class="text-4xl subtitle text-center">Skills</h3>
        <p class="text-xl mt-2 text-center">What I’m Good At</p>
        <div class="flex flex-wrap justify-center mt-8">
            <Skill icon='fa-solid fa-globe' title='Programming languages' comment='(And HTML)' prog={lanProg}/>
            <Skill icon='fa-solid fa-code' title='Frameworks and Libraries' comment='' prog={libs}/>
            <Skill icon='fa-solid fa-server' title='Tools' comment='' prog={tools}/>
            <Skill icon='fa-solid fa-palette' title='UI/UX Design' comment='' prog={design}/>
            <Skill icon='fa-solid fa-book-open' title='Other Skills' comment='' prog={other}/>
        </div>
        <div class="w-full flex justify-center">
            <Image src={pondering} alt='Pondering boy' class='w-1/4'/>
        </div>
    </div>
</section>
<style>
    p {
        color: #170009; 
    }
</style>