---
const { title, fromDate, toDate, link, description, role } = Astro.props;
---

<div class="mb-5">
  <div class="flex items-center">
    <i class="fa-solid fa-circle me-3"></i>
    <div>
      <h4>
        {title} | {role}
        {
          link && (
            <a href={link} target="_blank">
              <i class="fa-solid fa-arrow-up-right-from-square ms-2 text-blue-500" />
            </a>
          )
        }
      </h4>
      <p>{fromDate} - {toDate}</p>
    </div>
  </div>
  <div class="mt-1">
    <p>{description}</p>
  </div>
</div>
